<!DOCTYPE html>
<html lang="en" xmlns ="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- This is a comment with many lines -->
    <meta charset="UTF-8"/>
    <title>HTML Basic Invoice App</title>
</head>
<body>
<p>Welcome to the Invoice Application</p>
<p th:text="${myMessage}">This is a placeholder </p>
<p th:text="${myMessage1}">This is a placeholder </p>
<p th:text="${myMessage2}">This is a placeholder </p>
<p th:text="${myMessage3}">This is a placeholder </p>


</body>
</html>